src
node_modules
*.log
.DS_Store
.env
.env.local
coverage
.turbo
tsconfig.json
tsup.config.ts
vitest.config.ts
.eslintrc.json
.prettierrc.json
.release-it.json
CONTRIBUTING.md
.git
.github
*.md
!README.md
!LICENSE
